In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\prerna pal\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\prerna pal\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)

In [2]:
import pandas as pd

df = pd.read_excel("Customer Call List.xlsx")

In [3]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [5]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [12]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
dtype: bool

In [6]:
df = df.drop_duplicates()

In [7]:
df = df.drop(columns= "Not_Useful_Column")

In [8]:

df["Last_Name"] = df["Last_Name"].str.strip(".../_")

In [9]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]' , '', regex = True)

In [10]:
 df["Phone_Number"] = df["Phone_Number"].str.replace('Na' , '')

In [11]:
 df["Paying Customer"] = df["Paying Customer"].str.replace('No' , 'N')
 df["Paying Customer"] = df["Paying Customer"].str.replace('Yes' , 'Y')

In [19]:
 df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No' , 'N')
 df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes' , 'Y')

In [20]:
df.replace('N/a' , 'NaN')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
6,1007,Jeff,Winger,NaN,1209 South Street,N,N
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,NaN,NaN,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N

In [22]:
df = df.dropna()

In [24]:
df = df.replace('N/a', '')

In [25]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
18,1019,Creed,Braton,,,,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N

In [35]:
df[["Street_Address", "State", "Zip_Code"]] = df['Address'].str.split(',',n=2, expand=True)

In [36]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,93 West Main Street,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,768 City Parkway,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,25th Main Street,New York,None
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
18,1019,Creed,Braton,,,,Y,,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [45]:
df = df.drop(columns = "Address")

In [46]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,N,Y,93 West Main Street,None,None
3,1004,Dwight,Schrute,1235432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Y,Y,768 City Parkway,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,1235455421,Y,N,25th Main Street,New York,None
12,1013,Don,Draper,1235432345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,N,121 Paper Avenue,Pennsylvania,None
18,1019,Creed,Braton,,,Y,,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None